<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="checkout_onepage_controller_success_action">
      	<observer name="order_message" instance="Wkd\Pokitel\Observer\Ordersms" shared="false" />
  </event>
  <!-- <event name="sales_order_shipment_save_after">
      	<observer name="ship_sms" instance="Wkd\Pokitel\Observer\SalesShipmentAfterSave" shared="false" />
  </event> -->
</config>
