<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Wkd. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Wkd_Pokitel::wkd_index_index" title="SMS" module="Wkd_Pokitel"  sortOrder="20" dependsOnModule="Wkd_Pokitel" action="pokitel/index/index" resource="Wkd_Pokitel::wkd_index_index"/>
<!--AddMenu-->
    </menu>
</config>
